<%# Muhammad's age: <%= @age %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    ul {
      color: blue;
    }
      ul strong{
      color: crimson;
    }
    </style>
</head>
<body>
<ul>
<% @events.each do |event| %>

<li>
<strong><%= event.name  %></strong>
in <%= event.location %>:
<%= price(event)%>
</li>
 <p>
 <%= day_and_time(event) %>
 </p>
<p>
<%= truncate(event.description, length: 35, separator: ' ')%> </p>
<% end %>
</ul>
</body>
</html>