
<section class="event-details">
<div class="details">
<h1><%= @event.name  %></h1>
<h2><%= price(@event)%></h2>
<h3><%= day_and_time(@event) %> in <%= @event.location %></h3>
<p>
<%= @event.description%> 
</p>
<button>
<%= link_to "Back", events_path %>
 </button>
</div>
</section>

<%# create a button for the edit %>
<section  class="admin">
<%= link_to "Edit", edit_event_path(@event), class: "button" %>
<section>