
<section class="event-details">
<%# in the show template we have @event not event %>
<div class="image"> 
<%# TODO: fix uploader %>
<%= image_tag @event.image_file_name %>
</div>
<div class="details">
<h1><%= @event.name  %></h1>
<h2>
<%= pluralize(@event.capacity, "spot") %> &bull; <%= price(@event)%>
</h2>
<h3><%= day_and_time(@event) %> in <%= @event.location %></h3>
<p>
<%= @event.description%> 
</p>
<button>
<%= link_to "Back", events_path %>
 </button>
</div>
</section>

<%# create a button for the edit %>
<section  class="admin">
<%= link_to "Edit", edit_event_path(@event), class: "button" %>

<%# we need  to overwrite the method to delete (by seetting a http verb to delete) , instead of the get method
by default 
NOTE: method: :delete is deprecated in rails 7%>
<%= link_to "Delete", @event, class: "button", "data-method": :delete,
          data: { confirm: "Are You Sure!" } %>
          

<%# TODO: THE DELETE  BUTTON  ABOVE IS NOT WORKINNG, SO  I AM USING THIS ONE, BUT WILL TRY TO FIX THE ABOVE LATER %>
          <%= form_with(model: @event, method: :delete, url: event_path(@event), data: { confirm: "Are you sure?" }) do |form| %>
  <%= form.submit "Delete", class: "button" %>
<% end %>

<section>